*{
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}
body{
    background-color: #000;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    overflow-y:scroll;
    color: white;
}

@keyframes appear{
    from{
        opacity: 0;
        scale: 0.5;
    }
    to{
        opacity: 1;
        scale: 1;
    }
}

.threeD{
    position:absolute;
    top: 0px;
    z-index: -1;
}

/* #bg{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
} */

a{
  text-decoration: none;  
  color: whitesmoke;
}
ul{
    list-style: none;
}

.navbar{
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    width: 95%;
    justify-content: space-between;
    padding: 20px;
    color: whitesmoke;
    font-family: "Ubuntu";
}
.nav-list{
    display: flex;
    align-items: center;
    color: whitesmoke;
}

.nav-list li{
    margin: 0 30px ;
}

.navbar a:visited{
    font-weight: Bold;
}

header{
    width: 100vw;
    height: 100vh;
    /* background-image: url("Screenshot 2025-11-03 195832.jpg");
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat; */
    display: flex;
    align-items:flex-end ;
    justify-content: center;
    font-family: "Ubuntu";
    /* z-index: 2; */
}

.header-container{
    margin-bottom: 25px;
    color: whitesmoke;
    text-align: center;
}

.header-container h2{
    font-size: 4vmin;
}

.line{
    width: 150px;
    height: 4px;
    background-color: red;
    margin: 10px auto;
    border-radius: 5px;
}
.header-container h1{
    font-size: 7vmin;
    margin-top: 50px;
    margin-bottom: 30px;
}
.ctn{
    padding: 8px 15px;
    background-color: red;
    border-radius: 30px;
    color: whitesmoke;
}

.circles{
    display: flex;
    justify-content: center ;
    align-items: center;
    padding: 80px 160px 0 160px;
}


.block{
    margin: 0 20px;

}
.block img{
    width: 50%;
    height: 50%;
}

.block h6{
    margin: 2px 0 0 0;
    font-size: 120%;
    font-family: "Raleway";
}

.info{
    align-items: center;
    justify-items: center;
    margin:100px;
}

.info h1{
    font-family: "Ubuntu";
    font-size: 400%;
}
.info p{
    text-align: left;
    left: -10px;
}

#lines{
    margin-bottom: 6px;
}

.para{
    font-size: 200%;
    font-family: "Raleway";
}

.introduction{
    display: flex;
    width: 75%;
} 

.card{
    width: 30%;
    height: 220px;
    background-color: whitesmoke;
    padding: 30px 40px 40px 40px;
    justify-items: center;
    align-items: center;
    overflow: hidden;
    border-radius: 20px;
    color: black;
    font-family: "Ubuntu";
    box-shadow: rgb(201, 188, 188) -10px 10px 20px 0px;
    animation: appear linear;
    animation-timeline: view();
    animation-range: entry 0 cover 40%;
}

.card h2{
    /* z-index: 1; */
    /* color: white; */
    font-size: 2em;
    /* padding-bottom: 30px; */

}

.card h3{
    padding-bottom: 20px;
}

#card{
    position:relative;
    top: -50px;
    left: 70px;
}

#card2{
    position: relative;
    top: 10px;
    left: 800px;
}

#card3{
    position:relative;
    top: 30px;
    left: 200px;
}

#card4{
    position: relative;
    top: 60px;
    left: 800px;
}
.svg-container{
    position: absolute;
    top: 800px;
    left: 140px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* width: 70%; */
    /* height: 1178px; */
}

/* svg{
    height: 100%;
} */
path {
  transition: stroke-dashoffset 0.2s ease-out;
}
