*{
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}
body{
    background-color: #000;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    overflow-y:scroll;
    color: white;
}

@keyframes appear{
    from{
        opacity: 0;
        scale: 0.5;
    }
    to{
        opacity: 1;
        scale: 1;
    }
}

.threeD{
    position:absolute;
    top: 0px;
    z-index: -1;
}

/* #bg{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
} */

a{
  text-decoration: none;  
  color: whitesmoke;
}
ul{
    list-style: none;
}

.navbar{
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    width: 95%;
    justify-content: space-between;
    padding: 20px;
    color: whitesmoke;
    font-family: "Ubuntu";
}
.nav-list{
    display: flex;
    align-items: center;
    color: whitesmoke;
}

.nav-list li{
    margin: 0 30px ;
}

.navbar a:visited{
    font-weight: Bold;
}

header{
    width: 100vw;
    height: 100vh;
    /* background-image: url("Screenshot 2025-11-03 195832.jpg");
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat; */
    display: flex;
    align-items:flex-end ;
    justify-content: center;
    font-family: "Ubuntu";
    /* z-index: 2; */
}

.header-container{
    margin-bottom: 25px;
    color: whitesmoke;
    text-align: center;
}

.header-container h2{
    font-size: 4vmin;
}

.line{
    width: 150px;
    height: 4px;
    background-color: red;
    margin: 10px auto;
    border-radius: 5px;
}
.header-container h1{
    font-size: 7vmin;
    margin-top: 50px;
    margin-bottom: 30px;
}
.ctn{
    padding: 8px 15px;
    background-color: red;
    border-radius: 30px;
    color: whitesmoke;
}

.circles{
    display: flex;
    justify-content: center ;
    align-items: center;
    padding: 80px 160px 0 160px;
}


.block{
    margin: 0 20px;

}
.block img{
    width: 50%;
    height: 50%;
}

.block h6{
    margin: 2px 0 0 0;
    font-size: 120%;
    font-family: "Raleway";
}

.info{
    align-items: center;
    justify-items: center;
    margin:100px;
}

.info h1{
    font-family: "Ubuntu";
    font-size: 400%;
}
.info p{
    text-align: left;
    left: -10px;
}

#lines{
    margin-bottom: 6px;
}

.para{
    font-size: 200%;
    font-family: "Raleway";
}

.introduction{
    display: flex;
    width: 75%;
} 

.box-container{
    align-items: center;
    justify-items: center;
    width: 100vw;
}

.display{
    display: flex;
    margin: 40px;
    /* padding: 0px; */
}

.box{
    background: rgba(255, 255, 255, 0.15);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    padding: 20px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    max-width: 500px;
    width: 90%;
    color: white;
    font-size: 1.5rem;
    text-align: left;
    border: 1px solid rgba(255, 255, 255, 0.3);
    margin: 10px;
    transition: all 0.3s ease;
}

.box:hover {
  box-shadow: 0 0 25px rgba(255, 255, 255, 0.7), 
              0 0 50px rgba(0, 150, 255, 0.2);
  transform: scale(1.03); /* slight zoom for depth */
  border-color: rgba(255, 255, 255, 0.6);
}

.box h3{
    margin-bottom: 20px;
    font-family: "Ubuntu";
}

.box p{
    font-family: "Raleway";
}

.header{
    display: flex;
    font-size: 200%;
    font-family: "Raleway";
}

.typewriter h1{
    margin-inline: auto;
    overflow: hidden;
    white-space: nowrap;
    border-right: 1px solid;
    animation: typing 3s steps(22) forwards;
}

@keyframes typing{
    from{
        width: 0;
    }
    to{
        width: 100%;
    }
}
@keyframes blink{
    50%{
        border-color: transparent;
    }
}

.data{
    align-items: center;
    justify-items: center;
}

.box{
    align-items: center;
    justify-items: center;
    text-align: center;
}

.commitment{
    align-items: center;
    justify-items: center;
    background-color: #010;
    padding: 5px 0;
}

.drop-down li{
    list-style: none;
    height: 100%;
    padding: 0.5rem 0rem;
    font-weight:600 ;
    cursor: pointer;
    margin: 0.5rem - 0.5rem;
    background-color: antiquewhite;
    color: #000;
    box-shadow:0 4px 12px rgba(0, 0, 0, 0.1);
    border-radius: 0.5rem;
    font-size: 12px;
    display: none;
}

.nav-list li:hover .drop-down{
    display: visible;
}

.us{
    display: flex;
    padding-bottom: 60px;
}

.ishan{
    display: flex;
    align-items: center;
    justify-items: center;
}

.us img{
    border-radius: 100px;
    border-radius: 50%;
    width: 25%;
    margin: 20px -30px 20px 20px;
    border: 10px solid #f0dd31 ;
    z-index: 2;
}
.us h1{
    font-family: "Ubuntu";
    margin-bottom: 10px;
}


.neeraj{
    display: flex;
    align-items: center;
    justify-items: center;
}

.infoa{
    background-color: red;
    max-width: 340px;
    border-radius: 20px;
    border-style: solid;
    border-color: red;
    border-width: 10px 45px ;
    
}

#header{
    font-family: "Ubuntu";
    align-items: center;
    justify-content: center;
    display: flex;
    font-size: 350%;
}

.us, #header{
    background-color: #ebe3562a;
}

.btn{
    background: black;
    color: white;
    font-family: "Raleway";
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    padding: 10px 20px;
    border: 1px solid rgba(255, 255, 255, 0.535);
    position:fixed;
    right: 20px;
    top: 90%;
    z-index: 3;
    animation-name: appear;
    animation-timeline: scroll(y);
    transition: all 0.3s ease;
}

.btn:hover{
    box-shadow: 0 0 25px rgba(255, 255, 255, 0.7), 
              0 0 50px rgba(0, 150, 255, 0.2);
    transform: scale(1.03); 
    border-color: rgba(255, 255, 255, 0.6);
}

@keyframes appear{
    0%{
        opacity: 0;
    }
    3%{
        opacity: 0;
    }
    3.5%{
        opacity: 1;
    }
    100%{
        opacity: 1;
    }
}

